/* src/routes/Board.css */

.board_body {
  padding: 20px;
}

.board_title {
  margin-top: 50px;
  margin-left: 5%;
  /* margin-top: 3%; */
  font-size: 20px;
  font-weight: bold;
  background-color: gray;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  width:150px;

}

.card-container {
  margin-top: 20px; 
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.portfolio-card {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.2s;
}

.portfolio-card:hover {
  transform: scale(1.05);
}
